input[type="submit"],
input[type="button"] {
  height: 30px;
  width: 100px;
  background: $color-primary;
  border-radius: 40px;
  color: white;
  @include titleButton;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background: $color-secondary;
  }
}

input[type="button"] {
  border: none;
}

.pagination__button {
  border: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
  background: $color-primary;
  border-radius: 40px;
  color: white;
  @include titleButton;
  &:hover,
  &:focus-visible {
    background: $color-secondary;
  }
}
