#buttonNav {
  @media screen and (max-width: 920px) {
    display: block;
    position: absolute;
    top: 5%;
    left: 3%;
  }

  .button__navbar {
    background: none;
    border: none;
    width: 50px;
    height: 50px;

    i {
      color: $color-primary;
      font-size: 30px;
    }
  }
}

#buttonNavClose {
  visibility: hidden;
  background: none;
  border: none;
  width: 50px;
  height: 50px;
  i {
    color: $color-primary;
    font-size: 35px;
  }

  @media screen and (max-width: 920px) {
    visibility: visible;
  }
}
